<sidebar class='sidebar'>
  <a  class="sidebar_title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <span class='icon-grid'></span>
    <ul class="sidebar_social">
      {% if site.github_username %}
      <li>
      {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
      {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}
      </ul>
</sidebar>
<div class='sidebar_menu'>
  <h4>Discover more</h4>
  <ul class='menu_list'>
    <li class=list_item><a class='item_link' href='#'>About</a></li>
    <li class=list_item><a class='item_link' href='#'>History</a></li>
    <li class=list_item><a class='item_link' href='#'>Blog</a></li>
    <li class=list_item><a class='item_link' href='#'>Team</a></li>
  </ul>
</div>