---
layout: default
---

<div class="home">
  <div class='row'>
    <div class='medium-8 columns medium-offset-1'>
      <div class='home_intro'>
        <span class='intro'>Hi there,</span>
        <h1 class='intro_content'>We are a group of people from all over the world with the ambition to build the building blocks of the cooperative platform development. <a target='_blank' href='https://github.com/django-rea/rea-project/wiki'>Learn more</a></h1>
      </div>
    </div>
  </div>
  <div class='row'>
      <div class='medium-10 columns medium-offset-1'>
      <h2 class="post_title">Latest post entries</h2>
      {{ content }}
      <div class="post_list row">
        {% for post in site.posts %}
        <div class='medium-4 columns'>
          <div class='list_post' style="background-image :url({{post.image}})">
            <a  href="{{ post.url | relative_url }}"></a>
              {% assign date_format = site.minima.date_format | defadivt: "%b %-d, %Y" %}
              <span class="post_meta">{{ post.date | date: date_format }}</span>
              <h2 class="post_link">{{ post.title | escape }}</h2>
              <div class='post_excerpt'>{{ post.excerpt }}</div>
          </div>
        </div>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
